<web-app>
<servlet>
    <servlet-name>
    servlet1
    </servlet-name>
    <servlet-class>
    project
    </servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>
    servlet1
    </servlet-name>
    <url-pattern>
    /Project
    </url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>
    servlet2
    </servlet-name>
    <servlet-class>
    project2
    </servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>
    servlet2
    </servlet-name>
    <url-pattern>
    /Project2
    </url-pattern>
</servlet-mapping>
</web-app>